## EDA on dblp dataset

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../artifacts/dblp.csv',engine='pyarrow').replace('[]',np.nan)

In [7]:
df.columns

Index(['', 'address', 'author', 'booktitle', 'cdrom', 'chapter', 'cite',
       'crossref', 'editor', 'ee', 'isbn', 'journal', 'month', 'note',
       'number', 'pages', 'publisher', 'publnr', 'school', 'series', 'title',
       'url', 'volume', 'year', 'tag', 'key', 'publtype', 'mdate'],
      dtype='object')

In [14]:
df.columns

Index(['address', 'author', 'booktitle', 'cdrom', 'chapter', 'cite',
       'crossref', 'editor', 'ee', 'isbn', 'journal', 'month', 'note',
       'number', 'pages', 'publisher', 'publnr', 'school', 'series', 'title',
       'url', 'volume', 'year', 'tag', 'key', 'publtype'],
      dtype='object')

In [19]:
df.loc[df['tag']==]

9779590

In [21]:
df.shape

(9779590, 26)

In [15]:
df.publtype.unique()

array(['informal', nan, 'encyclopedia', 'withdrawn', 'data', 'software',
       'informal withdrawn', 'survey', 'edited', 'version', 'concept',
       'habil', 'disambiguation', 'noshow', 'group'], dtype=object)

These are the unique types of tags in the data.

In [13]:
df.tag.unique()

array(['article', 'book', 'proceedings', 'inproceedings', 'www',
       'mastersthesis', 'incollection', 'data', 'phdthesis'], dtype=object)

We want to determine which features have values and are thus tied to the tag. Features that have null values for all records in each tag are thus not relevant to it.

In [62]:
tag_features = {} # initialise empty dictionary
# iterate through each unique tag to determine which features is not null and are thus part of the tag
for tag in df.tag.unique():
    df_tag = df.loc[df['tag']==tag].drop(['tag'],axis=1) # locate rows specific to the tag
    df_na = pd.DataFrame(df_tag.isna().sum()).reset_index() # create a dataframe of features with sum of na values
    df_na.columns = ['tag_type','na_count'] # rename columns
    # create new column contain count of non-na cells, calculated as (number of records for each tag - number of records with na cells)
    df_na['non_na_count'] = len(df_tag)-df_na['na_count'] 
    print(tag)
    print(df_na)
    print("------")
    features = [row['tag_type'].strip() for index, row in df_na.iterrows() if row['non_na_count'] > 0] # add features to list features does not have na values
    tag_features[tag] = features # add tag as key and features as value to dictionary

article
     tag_type  na_count  non_na_count
0     address   3107301             0
1      author     17297       3090004
2   booktitle   3107299             2
3       cdrom   3103300          4001
4     chapter   3107301             0
5        cite   3105461          1840
6    crossref   3105136          2165
7      editor   3107286            15
8          ee     23874       3083427
9        isbn   3107301             0
10    journal         5       3107296
11      month   3071817         35484
12       note   3105940          1361
13     number    987824       2119477
14      pages    600815       2506486
15  publisher   3107073           228
16     publnr   3103238          4063
17     school   3107301             0
18     series   3107301             0
19      title         0       3107301
20        url       551       3106750
21     volume        67       3107234
22       year         3       3107298
------
book
     tag_type  na_count  non_na_count
0     address     19835             0
1      author      2451         17384
2   booktitle     17777          2058
3       cdrom     19834             1
4     chapter     19835             0
5        cite     19825            10
6    crossref     19764            71
7      editor     17486          2349
8          ee      6731         13104
9        isbn      2961         16874
10    journal     19835             0
11      month     19834             1
12       note     19820            15
13     number     19835             0
14      pages      6141         13694
15  publisher      1654         18181
16     publnr     19835             0
17     school     17811          2024
18     series     11064          8771
19      title         0         19835
20        url     17364          2471
21     volume     15738          4097
22       year         0         19835
------
proceedings
     tag_type  na_count  non_na_count
0     address     54104             3
1      author     54100             7
2   booktitle       526         53581
3       cdrom     54107             0
4     chapter     54107             0
5        cite     54106             1
6    crossref     54107             0
7      editor     13549         40558
8          ee      5648         48459
9        isbn      9130         44977
10    journal     54103             4
11      month     54107             0
12       note     53820           287
13     number     53815           292
14      pages     54097            10
15  publisher      1647         52460
16     publnr     54107             0
17     school     54106             1
18     series     29751         24356
19      title         0         54107
20        url        52         54055
21     volume     30171         23936
22       year         0         54107
------
inproceedings
     tag_type  na_count  non_na_count
0     address   3211095             0
1      author      4881       3206214
2   booktitle         0       3211095
3       cdrom   3202613          8482
4     chapter   3211095             0
5        cite   3204725          6370
6    crossref      1145       3209950
7      editor   3211085            10
8          ee    135904       3075191
9        isbn   3211095             0
10    journal   3211095             0
11      month   3211094             1
12       note   3210772           323
13     number   3210741           354
14      pages    170676       3040419
15  publisher   3211095             0
16     publnr   3211095             0
17     school   3211095             0
18     series   3211095             0
19      title         0       3211095
20        url         0       3211095
21     volume   3211074            21
22       year         0       3211095
------
www
     tag_type  na_count  non_na_count
0     address   3208329             0
1      author       798       3207531
2   booktitle   3208329             0
3       cdrom   3208329             0
4     chapter   3208329             0
5        cite   3208139           190
6    crossref   3207542           787
7      editor   3208323             6
8          ee   3208313            16
9        isbn   3208329             0
10    journal   3208329             0
11      month   3208329             0
12       note   3081335        126994
13     number   3208329             0
14      pages   3208329             0
15  publisher   3208329             0
16     publnr   3208329             0
17     school   3208329             0
18     series   3208329             0
19      title       770       3207559
20        url   3051584        156745
21     volume   3208329             0
22       year   3208313            16
------
mastersthesis
     tag_type  na_count  non_na_count
0     address        21             0
1      author         0            21
2   booktitle        21             0
3       cdrom        21             0
4     chapter        21             0
5        cite        21             0
6    crossref        21             0
7      editor        21             0
8          ee         5            16
9        isbn        21             0
10    journal        21             0
11      month        21             0
12       note        12             9
13     number        21             0
14      pages        21             0
15  publisher        21             0
16     publnr        21             0
17     school         0            21
18     series        21             0
19      title         0            21
20        url        21             0
21     volume        21             0
22       year         0            21
------
incollection
     tag_type  na_count  non_na_count
0     address     69609             0
1      author     10804         58805
2   booktitle         0         69609
3       cdrom     69556            53
4     chapter     69607             2
5        cite     69567            42
6    crossref      2633         66976
7      editor     69609             0
8          ee      3439         66170
9        isbn     69609             0
10    journal     69609             0
11      month     69609             0
12       note     69587            22
13     number     69562            47
14      pages      7854         61755
15  publisher     69518            91
16     publnr     69609             0
17     school     69609             0
18     series     69609             0
19      title         0         69609
20        url         0         69609
21     volume     69609             0
22       year         0         69609
------
data
     tag_type  na_count  non_na_count
0     address      3346             0
1      author         1          3345
2   booktitle      3346             0
3       cdrom      3346             0
4     chapter      3346             0
5        cite      3346             0
6    crossref      3343             3
7      editor      3346             0
8          ee         0          3346
9        isbn      3346             0
10    journal      3346             0
11      month         1          3345
12       note      3346             0
13     number      3343             3
14      pages      3346             0
15  publisher         1          3345
16     publnr      3346             0
17     school      3346             0
18     series      3346             0
19      title         1          3345
20        url      3346             0
21     volume      3346             0
22       year         1          3345
------
phdthesis
     tag_type  na_count  non_na_count
0     address    105947             0
1      author         1        105946
2   booktitle    105947             0
3       cdrom    105947             0
4     chapter    105947             0
5        cite    105947             0
6    crossref    105947             0
7      editor    105947             0
8          ee      1688        104259
9        isbn     95868         10079
10    journal    105947             0
11      month    105944             3
12       note     65719         40228
13     number    105944             3
14      pages     86067         19880
15  publisher     98252          7695
16     publnr    105947             0
17     school        39        105908
18     series    105414           533
19      title         0        105947
20        url    105947             0
21     volume    105421           526
22       year         0        105947
------

Listing features present for each tag

In [59]:
[print(k,v) for k,v in tag_features.items()]

article ['author', 'booktitle', 'cdrom', 'cite', 'crossref', 'editor', 'ee', 'journal', 'month', 'note', 'number', 'pages', 'publisher', 'publnr', 'title', 'url', 'volume', 'year']
book ['author', 'booktitle', 'cdrom', 'cite', 'crossref', 'editor', 'ee', 'isbn', 'month', 'note', 'pages', 'publisher', 'school', 'series', 'title', 'url', 'volume', 'year']
proceedings ['address', 'author', 'booktitle', 'cite', 'editor', 'ee', 'isbn', 'journal', 'note', 'number', 'pages', 'publisher', 'school', 'series', 'title', 'url', 'volume', 'year']
inproceedings ['author', 'booktitle', 'cdrom', 'cite', 'crossref', 'editor', 'ee', 'month', 'note', 'number', 'pages', 'title', 'url', 'volume', 'year']
www ['author', 'cite', 'crossref', 'editor', 'ee', 'note', 'title', 'url', 'year']
mastersthesis ['author', 'ee', 'note', 'school', 'title', 'year']
incollection ['author', 'booktitle', 'cdrom', 'chapter', 'cite', 'crossref', 'ee', 'note', 'number', 'pages', 'publisher', 'title', 'url', 'year']
data ['author', 'crossref', 'ee', 'month', 'number', 'publisher', 'title', 'year']
phdthesis ['author', 'ee', 'isbn', 'month', 'note', 'number', 'pages', 'publisher', 'school', 'series', 'title', 'volume', 'year']

[None, None, None, None, None, None, None, None, None]

Number of features in each document tag

In [60]:
[print(k,len(v)) for k,v in tag_features.items()]

article 18
book 18
proceedings 18
inproceedings 15
www 9
mastersthesis 6
incollection 14
data 8
phdthesis 13

[None, None, None, None, None, None, None, None, None]