In [7]:
import polars as pl
import numpy as np

In [27]:
df = pl.read_csv('../artifacts/publication.csv',low_memory=True)

In [28]:
df.head()

shape: (5, 15)
┌─────┬───────────┬──────────────────────┬────────┬───┬──────────┬────────────┬─────────┬──────────┐
│ Id  ┆ booktitle ┆ journal              ┆ month  ┆ … ┆ publtype ┆ mdate      ┆ PubKey1 ┆ PubKey2  │
│ --- ┆ ---       ┆ ---                  ┆ ---    ┆   ┆ ---      ┆ ---        ┆ ---     ┆ ---      │
│ i64 ┆ str       ┆ str                  ┆ str    ┆   ┆ str      ┆ str        ┆ str     ┆ str      │
╞═════╪═══════════╪══════════════════════╪════════╪═══╪══════════╪════════════╪═════════╪══════════╡
│ 0   ┆ null      ┆ meltdownattack.com   ┆ null   ┆ … ┆ informal ┆ 2020-06-25 ┆ tr      ┆ meltdown │
│ 1   ┆ null      ┆ meltdownattack.com   ┆ null   ┆ … ┆ informal ┆ 2020-06-25 ┆ tr      ┆ meltdown │
│ 2   ┆ null      ┆ null                 ┆ null   ┆ … ┆ null     ┆ 2021-07-31 ┆ tr      ┆ acm      │
│ 3   ┆ null      ┆ GTE Laboratories     ┆ August ┆ … ┆ informal ┆ 2019-10-25 ┆ tr      ┆ gte      │
│     ┆           ┆ Incorporated         ┆        ┆   ┆          ┆            ┆         ┆          │
│ 4   ┆ null      ┆ GTE Laboratories     ┆ March  ┆ … ┆ informal ┆ 2019-10-25 ┆ tr      ┆ gte      │
│     ┆           ┆ Incorporated         ┆        ┆   ┆          ┆            ┆         ┆          │
└─────┴───────────┴──────────────────────┴────────┴───┴──────────┴────────────┴─────────┴──────────┘

In [5]:
df.columns

Index(['address', 'booktitle', 'cdrom', 'chapter', 'cite', 'crossref',
       'editor', 'ee', 'isbn', 'journal', 'month', 'note', 'number', 'pages',
       'publisher', 'publnr', 'school', 'series', 'title', 'url', 'volume',
       'year', 'tag', 'PubKey', 'publtype', 'mdate', 'PubKey1', 'PubKey2',
       'PubKey3', 'PubKey4', 'PubKey5'],
      dtype='object')

In [20]:
df.shape

(9779590, 31)

In [24]:
len(df)

9779590

In [21]:
range(9779590)

range(0, 9779590)

In [23]:
df_publication_id = pl.DataFrame(range(9779590),schema=[('Id')])

TypeError: 'DataFrame' object does not support 'Series' assignment by index. Use 'DataFrame.with_columns'

In [38]:
df.loc[df['month'] != ''].groupby(['PubKey2']).size()

PubKey2
10         3345
4or           8
Codd69        1
Codd71        1
Codd71a       1
           ...
vtm          17
wcl          36
winet        32
wpc         106
www          42
Length: 603, dtype: int64

### Query Question #1 - Validation

In [12]:
df.groupby(['tag'])['PubKey'].count()

tag
article          3107301
book               19835
data                3346
incollection       69609
inproceedings    3211095
mastersthesis         21
phdthesis         105947
proceedings        54107
www              3208329
Name: PubKey, dtype: int64